body {		
	overflow-x:hidden;
	background-color: white;
	margin: 0px;
	padding: 0px;
	background: repeating-radial-gradient( #42c2ff, #5b75ff);
	-webkit-background: repeating-radial-gradient( #42c2ff, #5b75ff);
	cursor: pointer;
	font-family: Florence, cursive;
	cursor: url("cursor.png"), pointer!important;
}
html{
	cursor: url("cursor.png")25 15, pointer!important;
}
a:link    { cursor: url("cursor.png")25 15, pointer!important;}
a:visited { cursor: url("cursor.png")25 15, pointer!important;}
a:hover   { cursor: url("cursor.png")25 15, pointer!important;}
a:active  { cursor: url("cursor.png")25 15, pointer!important;}
html.dragging-something * {
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}
.priv{
	opacity:0.0;
	color:white;
	-webkit-animation-name: priv;  
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: lenear;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: 3;
}
@keyframes priv{
	from {opacity:1.0;}
	to{opacity:0.0;}
}
.pc1{
	position: relative;
	width: 140px;
	height:185px;
	top: -0px;
	transform:rotate(0deg);
	transform-origin:50% 50%;
	opacity:0.0;
	-webkit-animation-name: pc1;  
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: lenear;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: 3;
}
@keyframes pc1 {
0%	{
	position: relative;
	width: 140px;
	height:185px;
	top: -75px;
	transform:rotate(60deg);
	transform-origin:50% 50%;
	opacity:1;
	}
   
25% {
	position: relative;
	width: 140px;
	height:185px;
	top: -55px;
	transform:rotate(45deg);
	transform-origin:50% 50%;
	opacity:1;
	}
50% {
	position: relative;
	width: 140px;
	height:185px;
	top: -0px;
	transform:rotate(0deg);
	transform-origin:50% 50%;
	opacity:1;
	}
75% {
	position: relative;
	width: 140px;
	height:185px;
	top: -55px;
	transform:rotate(-45deg);
	transform-origin:50% 50%;
	opacity:1;
	}
100% {
	position: relative;
	width: 140px;
	height:185px;
	top: -75px;
	transform:rotate(-60deg);
	transform-origin:50% 50%;
	opacity:0.8;
	}
}
.pc11{
	position:absolute;
	width: 140px;
	height:185px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	opacity:0.0;
	-webkit-animation-name: pc11;  
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 3s;
	-webkit-animation-timing-function: lenear;
	-webkit-animation-iteration-count: 1;
}
@keyframes pc11 {
0%	{
	position:absolute;
	width: 140px;
	height:185px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	opacity:1;
	}

100% {
	position:absolute;
	width: 140px;
	height:185px;
	margin-left: -140px;
	margin-right: 0px;
	left: -140px;
	transform:translate(-1460px, 0px); 
	opacity:1;
	}
}

.pc2{
	position:absolute; 
	width:140px;
	height:185px;
	top:-10px;
	right:-140px;
}
.pc3{
	position:absolute; 
	width:150px;
	height:100px;
}


