body {	
	overflow:hidden;
	background-color: white;
	margin: 0px;
	padding: 0px;
	background: repeating-radial-gradient( #42c2ff, #5b75ff);
	-webkit-background: repeating-radial-gradient( #42c2ff, #5b75ff);
	cursor: pointer;
	font-family: Florence, cursive;
	cursor: url("cursor.png"), pointer;
}
a:link    { cursor: url("cursor.png")25 15, pointer!important;}
img:hover    { cursor: url("cursor.png")25 15, pointer!important;}
a:visited { cursor: url("cursor.png")25 15, pointer!important;}
a:hover   { cursor: url("cursor.png")25 15, pointer!important;}
a:active  { cursor: url("cursor.png")25 15, pointer!important;}
html{
	cursor: url("cursor.png")25 15, pointer!important;
}
html.dragging-something * {
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}
img.tuchi0{
	animation-name: colorchange;  
	animation-duration: 2s;
	animation-delay: 0s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

@keyframes colorchange {
   0% 	{width:250px;}
   100% {width:275px;}
}
